Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

Add types parsing to register extension macro
  core/ext/mod.rs
  macros/src/lib.rs
Labels: core

Add CustomTypeDerive proc macro for extension types
  core/ext/mod.rs
  macros/src/lib.rs
Labels: core

Foreign types support for translate insert
  core/translate/insert.rs
Labels: core

Add foreign type function enum variant
  core/function.rs
  core/translate/expr.rs
  core/vdbe/mod.rs
Labels: core

Introduce type registry to create table function
  core/lib.rs
  core/schema.rs
  core/util.rs
Labels: core

Add example custom type to uuid extension
  extensions/core/src/lib.rs
  extensions/uuid/src/lib.rs
  macros/src/lib.rs
Labels: none

Add tests for extension types and finalize extension
  extensions/core/src/lib.rs
  extensions/uuid/src/lib.rs
  macros/src/lib.rs
  testing/cli_tests/extensions.py
Labels: none

Reorganize ext library and feature gate vfs to more easily prevent wasm build issues
  core/Cargo.toml
  core/ext/dynamic.rs
  core/ext/mod.rs
  core/function.rs
  core/io/mod.rs
  core/lib.rs
  core/translate/expr.rs
  core/vdbe/mod.rs
  extensions/core/Cargo.toml
  extensions/core/src/functions.rs
  extensions/core/src/lib.rs
  extensions/core/src/vfs_modules.rs
  extensions/core/src/vtabs.rs
  extensions/tests/Cargo.toml
  macros/src/lib.rs
Labels: core

Add docs to ext readme about vfs feature gate
  extensions/core/README.md
Labels: none

Request load page on `insert_into_page`
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  tests/integration/query_processing/test_write_path.rs
Labels: core

First working version of `OpenEphemeral`
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core

Clean useless field
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core

Clean ups on `OpenEphemeral`
  core/vdbe/mod.rs
Labels: core

Fix dumb .unwrap() error and add some comments
  core/vdbe/mod.rs
Labels: core

Makes clippy happy
  core/storage/database.rs
  core/vdbe/mod.rs
Labels: core

Begin update implementation, add translation
  core/translate/update.rs
Labels: core

Add logic to handle overwrite cell if insert to same rowid to support update
  core/storage/btree.rs
  core/translate/mod.rs
Labels: core

Small nits/clippy errors in vdbe
  core/vdbe/mod.rs
Labels: core

Add initial tests for update support
  testing/all.test
  testing/update.test
Labels: none

Update COMPAT.md
  COMPAT.md
Labels: none

Create ephemeral BTree/Index
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core

Update compat table for `BEGIN TRANSACTION` and `OpenEphemeral`
  COMPAT.md
Labels: none

Add some additional tcl tests for update support
  testing/update.test
Labels: none

Possibly translate both sides of expr in update
  core/translate/update.rs
Labels: core

fix review comments
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
Labels: core

Optimize page contents, swap out reference counting in buffer pool for unsafecell
  bindings/wasm/lib.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/vfs.rs
  core/io/windows.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/vdbe/mod.rs
  simulator/runner/file.rs
Labels: bindings/wasm, core

Update tests to align with main
  core/storage/btree.rs
Labels: core

Add page clone back to defragment page to prevent alloc cell ptrs
  core/storage/btree.rs
Labels: core

Fix borrow method on windowsIO
  core/io/windows.rs
Labels: core

Fix clippy warning and impl copy
  core/io/mod.rs
Labels: core

Update IO trait impl for vfs
  core/io/vfs.rs
  core/lib.rs
Labels: core

Fix method in btree tests from conflict
  core/storage/btree.rs
Labels: core

First working version of `OpenEphemeral`
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core

Clean useless field
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core

Fix dumb .unwrap() error and add some comments
  core/vdbe/mod.rs
Labels: core

Clean ups on `OpenEphemeral`
  core/vdbe/mod.rs
Labels: core

Makes clippy happy
  core/storage/database.rs
  core/vdbe/mod.rs
Labels: core

Create ephemeral BTree/Index
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core

Update compat table for `BEGIN TRANSACTION` and `OpenEphemeral`
  COMPAT.md
Labels: none

Prevent panic in extension by out of bounds cursor idx
  extensions/tests/src/lib.rs
Labels: none

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'
