Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'

remove increment shenanigans for now
  core/json/json_vtab/json_each.rs
  core/json/json_vtab/json_tree.rs
  core/json/json_vtab/mod.rs
Labels: core

accidently removed an entry in COMPAT
  COMPAT.md
Labels: none

cargo fmt
  core/json/json_vtab/json_each.rs
  core/json/json_vtab/json_tree.rs
  core/json/json_vtab/mod.rs
Labels: core

removed unused function
  core/json/json_vtab/mod.rs
Labels: core

core: Integrate MVCC
  bindings/go/rs_src/lib.rs
  bindings/java/rs_src/limbo_db.rs
  bindings/python/src/lib.rs
  bindings/rust/src/lib.rs
  bindings/wasm/lib.rs
  cli/app.rs
  cli/input.rs
  core/benches/benchmark.rs
  core/lib.rs
  core/mvcc/database/mod.rs
  core/mvcc/mod.rs
  core/storage/btree.rs
  core/vdbe/mod.rs
  simulator/main.rs
  simulator/runner/env.rs
  sqlite3/src/lib.rs
  tests/integration/common.rs
Labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

MvCursor
  core/lib.rs
  core/mvcc/cursor.rs
  core/storage/btree.rs
  core/vdbe/mod.rs
Labels: core

More MvCursor
  core/storage/btree.rs
  core/vdbe/mod.rs
Labels: core

Optimize page contents, swap out reference counting in buffer pool for unsafecell
  bindings/wasm/lib.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/windows.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/vdbe/mod.rs
  simulator/runner/file.rs
Labels: bindings/wasm, core

Fix borrow method on windowsIO
  core/io/windows.rs
Labels: core

Make database Sync + Send
  bindings/go/rs_src/lib.rs
  bindings/java/rs_src/limbo_db.rs
  bindings/python/src/lib.rs
  bindings/rust/src/lib.rs
  bindings/wasm/lib.rs
  cli/app.rs
  cli/input.rs
  core/benches/benchmark.rs
  core/ext/mod.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/lib.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/mod.rs
  core/translate/optimizer.rs
  core/translate/plan.rs
  core/translate/pragma.rs
  core/util.rs
  core/vdbe/builder.rs
  core/vdbe/mod.rs
  simulator/runner/differential.rs
  simulator/runner/execution.rs
  simulator/runner/file.rs
  simulator/runner/io.rs
  simulator/runner/watch.rs
  sqlite3/src/lib.rs
  tests/integration/common.rs
Labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

add todo comments to remove mutex from database structures
  core/lib.rs
Labels: core

move load extensions to Connection
  bindings/wasm/lib.rs
  core/ext/mod.rs
  core/io/memory.rs
  core/lib.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/translate/optimizer.rs
  core/translate/plan.rs
  core/translate/pragma.rs
  core/vdbe/builder.rs
  core/vdbe/mod.rs
Labels: bindings/wasm, core

Make schema a RWLock
  core/error.rs
  core/lib.rs
  core/vdbe/mod.rs
Labels: core

fix uring Sync,Sync unsafe impl
  core/io/io_uring.rs
  core/lib.rs
Labels: core

Add first multi threaded test which fails.
  tests/integration/wal/test_wal.rs
Labels: none

remove schema comment
  core/lib.rs
Labels: core

Add page clone back to defragment page to prevent alloc cell ptrs
  core/storage/btree.rs
Labels: core

fix
  core/storage/btree.rs
Labels: core

disable count(distinct) tests
  testing/agg-functions.test
Labels: none

update after rebase
  testing/cli_tests/cli_test_cases.py
Labels: none

Add new tests for count() function
  testing/agg-functions.test
  testing/cmdlineshell.test
  testing/gen-database.py
  testing/testing.db
  testing/testing_norowidalias.db
Labels: none

Define custom type extension api
  core/ext/extern_types.rs
  core/function.rs
  core/types.rs
  core/util.rs
  extensions/core/src/lib.rs
  extensions/uuid/src/lib.rs
  macros/src/args.rs
  macros/src/lib.rs
  testing/cli_tests/extensions.py
Labels: core

Fix naming to be consistent for foreign types
  core/ext/foreign_types.rs
  core/ext/mod.rs
  core/schema.rs
  core/util.rs
  core/vdbe/mod.rs
  extensions/core/README.md
Labels: core

Add custom type registration to extension api
  core/ext/mod.rs
  extensions/core/src/lib.rs
Labels: core

Add TypeRegistry to symbol table, ffi function to register type
  core/ext/mod.rs
  core/lib.rs
Labels: core

Document api for custom foreign types
  extensions/core/README.md
Labels: none

Introduce type registry to create table function
  core/lib.rs
  core/schema.rs
  core/util.rs
Labels: core

Add foreign type function enum variant
  core/function.rs
  core/translate/expr.rs
  core/vdbe/mod.rs
Labels: core

Add CustomTypeDerive proc macro for extension types
  macros/src/lib.rs
Labels: none

Add types parsing to register extension macro
  macros/src/lib.rs
Labels: none

Foreign types support for translate insert
  core/translate/insert.rs
Labels: core

Add example custom type to uuid extension
  extensions/core/src/lib.rs
  extensions/uuid/src/lib.rs
  macros/src/lib.rs
Labels: none

Add tests for extension types and finalize extension
  core/ext/foreign_types.rs
  extensions/core/src/lib.rs
  extensions/uuid/src/lib.rs
  macros/src/lib.rs
  testing/cli_tests/extensions.py
Labels: core

cargo toml add extension static
  core/Cargo.toml
  extensions/core/README.md
Labels: core

core: Integrate MVCC
  bindings/go/rs_src/lib.rs
  bindings/java/rs_src/limbo_db.rs
  bindings/python/src/lib.rs
  bindings/rust/src/lib.rs
  bindings/wasm/lib.rs
  cli/app.rs
  cli/input.rs
  core/benches/benchmark.rs
  core/lib.rs
  core/mvcc/cursor.rs
  core/mvcc/database/mod.rs
  core/mvcc/mod.rs
  core/mvcc/persistent_storage/mod.rs
  core/storage/btree.rs
  core/util.rs
  core/vdbe/mod.rs
  simulator/main.rs
  simulator/runner/env.rs
  sqlite3/src/lib.rs
  tests/integration/common.rs
Labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

initial commit: adds AddImm instruction
  core/types.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core

builder: added the method to allow emitting add_imm instructions
  core/vdbe/builder.rs
Labels: core

cargo toml add extension static
  core/Cargo.toml
  extensions/core/README.md
Labels: core

Impl Copy on some types in the pager to prevent explicit clones
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/pragma.rs
Labels: core

Optimize page contents, swap out reference counting in buffer pool for unsafecell
  bindings/wasm/lib.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/windows.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/vdbe/mod.rs
  simulator/runner/file.rs
Labels: bindings/wasm, core
