Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

clippy doesnt get it
  core/storage/pager.rs
Labels: core

only initialize pager in empty state when no WAL and db file size 0
  core/lib.rs
Labels: core

Remove unused method
  core/storage/pager.rs
Labels: core

Fix not setting Database::maybe_shared_wal to Some after creating WAL
  core/lib.rs
Labels: core

core: Add size method to DatabaseStorage trait
  bindings/javascript/src/lib.rs
  bindings/wasm/lib.rs
  core/storage/database.rs
Labels: bindings/wasm, core

Move first page allocation logic to begin_write_tx
  core/storage/pager.rs
  core/vdbe/execute.rs
Labels: core

core: Only actually allocate page1 on first write transaction
  core/vdbe/execute.rs
Labels: core

Implement a header_accessor module so that DatabaseHeader structs arent initialized on every access
  Cargo.lock
  core/Cargo.toml
  core/lib.rs
  core/storage/btree.rs
  core/storage/header_accessor.rs
  core/storage/mod.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
Labels: core

alloc page1 on first tx (read OR write) - otherwise e.g. select * from sqlite_schema panics
  core/storage/pager.rs
Labels: core

Read schema from nonempty WAL if present
  core/lib.rs
Labels: core

sim: add Fault::ReopenDatabase
  simulator/generation/plan.rs
  simulator/runner/cli.rs
  simulator/runner/env.rs
Labels: none

core: Add count of pages in Pager and fix page1 initialization
  core/storage/pager.rs
Labels: core

Fix clippy complains
  core/lib.rs
  core/storage/pager.rs
Labels: core

Add mutex to allocating page1
  core/storage/pager.rs
Labels: core

Add comments to clarify current behaviour
  core/lib.rs
  core/storage/pager.rs
Labels: core

Remove dumb debug println
  core/storage/pager.rs
Labels: core

Core: Introduce external sorter
  core/Cargo.toml
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/vdbe/execute.rs
  core/vdbe/sorter.rs
Labels: core

Minor test improvement
  core/vdbe/sorter.rs
Labels: core

Fix clippy
  core/vdbe/sorter.rs
Labels: core

wip
  core/functions/datetime.rs
  core/functions/printf.rs
  core/json/mod.rs
  core/numeric/mod.rs
  core/storage/btree.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/mod.rs
Labels: core

Use heap
  core/vdbe/sorter.rs
Labels: core

Add stats to Pager
  core/storage/pager.rs
Labels: core

Change PageCacheKey to be a custom type
  core/storage/page_cache.rs
  core/storage/pager.rs
Labels: core

Add SpillFlag
  core/storage/pager.rs
Labels: core

Bump dependencies
  Cargo.lock
Labels: none

wip: implementing basic page spilling
  core/storage/page_cache.rs
  core/storage/pager.rs
Labels: core

create SimulatorEnv trait and adjust other main code to use the lib instead
  simulator/generation/expr.rs
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
  simulator/lib.rs
  simulator/main.rs
  simulator/model/mod.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/model/table.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/io.rs
  simulator/runner/watch.rs
  simulator/shrink/plan.rs
Labels: none

extract shadow function to be a trait
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/main.rs
  simulator/model/mod.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/differential.rs
  simulator/runner/execution.rs
Labels: none

add limbo_sim to limbo_stress and to workspace
  Cargo.lock
  Cargo.toml
  stress/Cargo.toml
Labels: none

adjust where clause generation + add `index_experimental` feature to simulator
  simulator/Cargo.toml
  simulator/model/mod.rs
  simulator/model/query/create.rs
  stress/generation/mod.rs
Labels: none

add not_null to limbo_sim column
  simulator/generation/table.rs
  simulator/model/table.rs
Labels: none

separate generation logic to module
  stress/generation/mod.rs
  stress/main.rs
Labels: none

add constraint definitions to Create Display impl
  simulator/model/query/create.rs
Labels: none

had accidently enabled DROP
  simulator/generation/property.rs
Labels: none

use limbo_sim generation to generate statements for limbo_stress
  simulator/model/table.rs
  stress/generation/mod.rs
Labels: none

rename Simulator Env to LimboSimulatorEnv
  simulator/generation/expr.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/watch.rs
Labels: none

extract sim code to be in a library
  simulator/Cargo.toml
  simulator/generation/expr.rs
  simulator/generation/plan.rs
  simulator/generation/query.rs
  simulator/lib.rs
  simulator/model/query/create.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/shrink/plan.rs
Labels: none

create SimulatorEnv trait and adjust other main code to use the lib instead
  simulator/generation/expr.rs
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
  simulator/lib.rs
  simulator/main.rs
  simulator/model/mod.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/model/table.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/io.rs
  simulator/runner/watch.rs
  simulator/shrink/plan.rs
Labels: none

extract sim code to be in a library
  simulator/Cargo.toml
  simulator/generation/expr.rs
  simulator/generation/plan.rs
  simulator/generation/query.rs
  simulator/lib.rs
  simulator/model/query/create.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/shrink/plan.rs
Labels: none

had accidently enabled DROP
  simulator/generation/property.rs
Labels: none

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'
