Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

copy comments about pragma flags from SQLite source code
  core/pragma.rs
Labels: core

handle change_capture pragma
  core/pragma.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core

fix test
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: none

small renames
  core/lib.rs
  core/pragma.rs
  core/translate/emitter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/vdbe/builder.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core

add simple method for parsing pragma boolean value
  core/util.rs
Labels: core

emit cdc changes for UPDATE / DELETE statements
  core/translate/emitter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/subquery.rs
Labels: core

change script name + enable indexes in CI
  .github/workflows/rust.yml
  CONTRIBUTING.md
  Cargo.lock
  Makefile
  cli/app.rs
  cli/input.rs
  scripts/turso-sqlite3
  scripts/turso-sqlite3-index-experimental
  sqlite3/Cargo.toml
  sqlite3/cbindgen.toml
  sqlite3/include/sqlite3.h
  sqlite3/tests/compat/mod.rs
  testing/agg-functions.test
  testing/cli_tests/extensions.py
  testing/cli_tests/test_turso_cli.py
  testing/cli_tests/write.py
  testing/create_table.test
  testing/delete.test
  testing/drop_index.test
  testing/drop_table.test
  testing/groupby.test
  testing/insert.test
  testing/join.test
  testing/orderby.test
  testing/select.test
  testing/subquery.test
  testing/update.test
  testing/where.test
Labels: none

enable io latency + limit number of tests in simulator pull request CI check
  scripts/run-sim
  simulator/runner/cli.rs
Labels: none

feat: add context to `ToTokens`
  vendored/sqlite3-parser/src/parser/ast/fmt.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: none

feat: implement `ToTokens` for `UpdatePlan`
  core/translate/display.rs
Labels: core

fmt
  core/translate/display.rs
Labels: core

fix: comma function
  vendored/sqlite3-parser/src/parser/ast/fmt.rs
Labels: none

clippy
  core/translate/display.rs
Labels: core

Support except operator for compound select
  core/translate/compound_select.rs
  core/translate/plan.rs
  core/translate/result_row.rs
  core/translate/select.rs
Labels: core

add tests for except operator
  testing/insert.test
  testing/select.test
  tests/integration/fuzz/mod.rs
Labels: none

fix test data
  testing/select.test
Labels: none

fix: IdxDelete shouldn't raise error if P5 == 0
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/result_row.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
Labels: core

cargo fmt
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  tests/integration/fuzz/mod.rs
Labels: core

return early if index is not found in op_idx_delete
  core/vdbe/execute.rs
Labels: core

ignore wal frames after bad checksum
  core/storage/sqlite3_ondisk.rs
  tests/integration/query_processing/test_write_path.rs
Labels: core

check frame number is not 0
  core/storage/sqlite3_ondisk.rs
Labels: core

clippy
  tests/integration/query_processing/test_write_path.rs
Labels: none

rollback transaction when we fail in step
  core/storage/sqlite3_ondisk.rs
  core/vdbe/mod.rs
Labels: core

remove logging in test
  Makefile
Labels: none

turn off tracing by default so that errors are not printed in the cli env is not set
  cli/app.rs
Labels: none

fix infinite loop with write counter
  core/storage/sqlite3_ondisk.rs
Labels: core

enable faulty query
  simulator/runner/cli.rs
Labels: none

pass correct change schema to step rollback
  core/lib.rs
  core/vdbe/mod.rs
Labels: core

add error tracing to relevant functions + rollback transaction in step_end_write_txn + make move_to_root return result
  core/lib.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/mod.rs
  core/vdbe/mod.rs
  simulator/runner/cli.rs
Labels: core

more instrumentation + write counter should decrement if pwrite fails
  core/io/unix.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/mod.rs
  core/vdbe/mod.rs
Labels: core

make all `run_once` be run under statement or connection so that rollback is called
  bindings/go/rs_src/rows.rs
  bindings/go/rs_src/statement.rs
  bindings/java/rs_src/turso_connection.rs
  bindings/java/rs_src/turso_statement.rs
  bindings/javascript/src/lib.rs
  bindings/python/src/lib.rs
  cli/app.rs
  cli/commands/import.rs
  cli/helper.rs
  core/benches/benchmark.rs
  core/benches/json_benchmark.rs
  core/benches/tpc_h_benchmark.rs
  core/ext/vtab_xconnect.rs
  core/lib.rs
  core/storage/pager.rs
  core/util.rs
  core/vdbe/execute.rs
  fuzz/fuzz_targets/expression.rs
  simulator/generation/plan.rs
  simulator/runner/execution.rs
  sqlite3/src/lib.rs
  tests/integration/common.rs
  tests/integration/functions/test_function_rowid.rs
  tests/integration/query_processing/test_read_path.rs
  tests/integration/query_processing/test_write_path.rs
  tests/integration/wal/test_wal.rs
Labels: bindings/java, bindings/go, bindings/python, core

Initial Commit For Autovacuum Updates
  core/lib.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
Labels: core

Changed Order Of Operations And Dropping RefMut
  core/lib.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
Labels: core

added additional test for internal page being relocated
  core/storage/pager.rs
Labels: core

minor update to comments
  core/storage/pager.rs
Labels: core

added tests to both pager.rs and page_cache.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
Labels: core

added TODO notes
  core/storage/pager.rs
Labels: core

placated clippy
  core/storage/pager.rs
Labels: core

added TODO note
  core/storage/btree.rs
Labels: core

fixed compilation errors
  core/storage/pager.rs
Labels: core

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'
