Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'

Fix connection handling in vtab module by holding Weak ref to Rc<Connection>
  core/ext/mod.rs
  core/ext/vtab_connect.rs
Labels: core

Fix subtraction overflow possibility in main loop
  core/translate/main_loop.rs
Labels: core

Add test tablestats extension to demonstrate querying internal db in vtab
  extensions/tests/src/lib.rs
Labels: none

Add tests for internal queries in vtab modules
  testing/cli_tests/extensions.py
Labels: none

Add docs to extensions README
  extensions/core/README.md
Labels: none

Fix generate_series tests to adapt to new xOpen api
  extensions/series/src/lib.rs
Labels: none

Config Definitions
  Cargo.lock
  cli/Cargo.toml
  cli/config/mod.rs
  cli/config/palette.rs
  cli/main.rs
Labels: none

config docs
  cli/docs/config.md
Labels: none

applying config in app
  cli/app.rs
  cli/config/palette.rs
  cli/helper.rs
  cli/main.rs
Labels: none

Adding indexes to the update plan
  core/translate/emitter.rs
  core/vdbe/insn.rs
Labels: core

modified OpenWrite to include index or table name in explain
  core/translate/emitter.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/schema.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
Labels: core

open cursors for write only once
  core/translate/emitter.rs
Labels: core

modify explain for MakeRecord to show index name
  core/translate/emitter.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/order_by.rs
  core/translate/schema.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
Labels: core

modified tests as we do not have rollback yet. Also correctly raise a contraint error on primary keys only
  core/translate/emitter.rs
  testing/cli_tests/constraint.py
Labels: core

instruction emitted should be correct, but having an infinite loop bug
  core/translate/emitter.rs
  core/vdbe/explain.rs
Labels: core

adjust null opcode emission based in rowid_alias
  core/translate/emitter.rs
Labels: core

emit NoConflict and Halt. Already detects unique constraints
  core/translate/emitter.rs
Labels: core

changed from resolve_label to preassign_label
  core/translate/emitter.rs
Labels: core

altered constraint tests to create bad update statements. Tests caught a bug where I was copying the wrong values from the registers
  core/translate/emitter.rs
  core/vdbe/explain.rs
  testing/cli_tests/constraint.py
Labels: core

add sqlite debug cli for nix. Fix cursor delete panic. Add tracing for cell indices in btree
  core/storage/btree.rs
  flake.nix
Labels: core

fix incorrectly detecting if user provided row_id_alias to set clause
  core/translate/emitter.rs
Labels: core

rebase adjustments
  core/translate/emitter.rs
Labels: core

btree rewind and next fix. Keep track of rowids seen to avoid infinite loop
  core/storage/btree.rs
  core/translate/emitter.rs
Labels: core

fixing more rebase issues and cleaning up code. Save cursor context when calling delete for later use when needed
  core/storage/btree.rs
  core/translate/emitter.rs
Labels: core

refactor: rename OwnedValue -> Value and RefValue -> ValueRef
  bindings/go/rs_src/rows.rs
  bindings/go/rs_src/types.rs
  bindings/java/rs_src/limbo_statement.rs
  bindings/javascript/src/lib.rs
  bindings/python/src/lib.rs
  bindings/rust/src/lib.rs
  bindings/rust/src/value.rs
  bindings/wasm/lib.rs
  cli/app.rs
  core/functions/datetime.rs
  core/functions/printf.rs
  core/json/cache.rs
  core/json/mod.rs
  core/json/ops.rs
  core/lib.rs
  core/numeric.rs
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/index.rs
  core/translate/plan.rs
  core/types.rs
  core/util.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/likeop.rs
  core/vdbe/mod.rs
  core/vector/mod.rs
  core/vector/vector_types.rs
  docs/contributing/contributing_functions.md
  fuzz/fuzz_targets/expression.rs
  simulator/generation/plan.rs
  sqlite3/src/lib.rs
  tests/integration/common.rs
  tests/integration/functions/test_function_rowid.rs
  tests/integration/query_processing/test_read_path.rs
  tests/integration/query_processing/test_write_path.rs
  tests/integration/wal/test_wal.rs
Labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

add unique field to Column
  core/schema.rs
  core/translate/group_by.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/schema.rs
  core/util.rs
Labels: core

add check for unique contraint in auto index creation
  core/translate/schema.rs
Labels: core

modify automatic index creation to account for unique columns
  core/schema.rs
  core/util.rs
Labels: core

added test and adjustments
  core/schema.rs
  testing/insert.test
Labels: core

simplify
  core/translate/optimizer.rs
Labels: core

Do groupby/orderby sort elimination based on optimizer decision
  core/translate/optimizer.rs
  core/translate/plan.rs
  testing/groupby.test
  testing/orderby.test
Labels: core

simplify AccessMethodKind
  core/translate/optimizer.rs
Labels: core

Feature: join reordering optimizer
  core/translate/main_loop.rs
  core/translate/optimizer.rs
  core/translate/planner.rs
  testing/orderby.test
Labels: core

Add more comments to join ordering logic
  core/translate/optimizer.rs
Labels: core

dont mutate where clause during individual index selection phase
  core/translate/optimizer.rs
Labels: core

OPTIMIZER.MD docs
  core/translate/OPTIMIZER.md
Labels: core

Do Less Work (tm) - everything works except ephemeral
  core/translate/optimizer.rs
  core/translate/planner.rs
Labels: core

fix ephemeral
  core/translate/optimizer.rs
Labels: core

Get rid of useless ScanCost struct
  core/translate/optimizer.rs
Labels: core

as_binary_components() helper
  core/translate/optimizer.rs
Labels: core
