Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'

Add can_pushdown_predicate fn to evaluate ast expressions for constness
  core/util.rs
Labels: core

Properly handle pushing predicates for query optimization from xBestIndex
  core/translate/emitter.rs
  core/translate/main_loop.rs
  core/translate/plan.rs
  core/translate/subquery.rs
  extensions/core/src/vtabs.rs
  extensions/series/src/lib.rs
  extensions/tests/src/lib.rs
Labels: core

Actually skip omitted predicates in open loop
  core/translate/main_loop.rs
Labels: core

Remove unused function in core/util.rs
  core/util.rs
Labels: core

Clean up allocations in main loop and fix ext tests
  core/lib.rs
  core/translate/main_loop.rs
  extensions/tests/src/lib.rs
Labels: core

Add comments and address PR review
  core/translate/main_loop.rs
  core/translate/plan.rs
  core/util.rs
  extensions/core/src/vtabs.rs
Labels: core

core/pager: Wrap wal with Option
  core/lib.rs
  core/storage/btree.rs
  core/storage/pager.rs
Labels: core

core/storage: Create FileMemoryStorage
  core/storage/database.rs
Labels: core

core/io: Add internal in-memory MemoryIO to all IO layers
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/vfs.rs
  core/io/windows.rs
Labels: core

core/vdbe: Create OpenEphemeral bytecode
  core/storage/pager.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
Labels: core

core/io: Untie MemoryIO's lifetime of the IO layer
  bindings/javascript/src/lib.rs
  bindings/wasm/lib.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/vfs.rs
  core/io/windows.rs
  core/vdbe/execute.rs
  simulator/runner/io.rs
Labels: bindings/wasm, core

Fix dumb clippy errors
  bindings/javascript/src/lib.rs
  bindings/wasm/lib.rs
  core/io/generic.rs
  core/io/windows.rs
  core/storage/database.rs
  core/vdbe/execute.rs
  simulator/runner/io.rs
Labels: bindings/wasm, core

Fix dumb conflict errors
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/vfs.rs
  core/io/windows.rs
Labels: core

core/vdbe: Rename page_io to db_file in OpenEphemeral
  core/vdbe/execute.rs
Labels: core

core/vdbe: Add missing work to get cursor and transient table usable
  core/vdbe/execute.rs
Labels: core

core/vdbe: Fix logic error during btree creation
  core/vdbe/execute.rs
Labels: core

Fix not using index when expr is paren-wrapped: e.g. SELECT * FROM t WHERE (x > 5)
  core/translate/optimizer.rs
Labels: core

Fix trying to use index when both sides of comparison refer to same table
  core/translate/optimizer.rs
  core/translate/planner.rs
Labels: core

logical_expr_fuzz: add primary keys to test table to detect issues w index usage
  tests/integration/fuzz/mod.rs
Labels: none

Add TCL regression test
  testing/where.test
Labels: none

rename check_constant() to less confusing name
  core/translate/optimizer.rs
Labels: core

add Func::is_deterministic()
  core/function.rs
Labels: core

dont constant optimize seek keys
  core/translate/main_loop.rs
Labels: core

add expr.is_constant()
  core/translate/optimizer.rs
Labels: core

Annoying mega commit
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/group_by.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/order_by.rs
  core/translate/pragma.rs
  core/translate/schema.rs
  core/translate/subquery.rs
  core/translate/transaction.rs
  core/vdbe/builder.rs
  core/vdbe/mod.rs
Labels: core

Index: add new field ephemeral: bool
  core/schema.rs
  core/translate/index.rs
Labels: core

vdbe: resolve labels for Insn::Once
  core/vdbe/builder.rs
Labels: core

TableReference: add method column_is_used()
  core/translate/plan.rs
Labels: core

translate/main_loop: create autoindex when index.ephemeral=true
  core/translate/main_loop.rs
  core/translate/plan.rs
Labels: core

remove print spam from index insert
  core/vdbe/execute.rs
Labels: core

optimizer: try to build ephemeral index to avoid nested table scan
  core/translate/optimizer.rs
Labels: core

optimizer: allow calling try_extract_index... without any persistent indexes
  core/translate/optimizer.rs
Labels: core

optimizer: add highly unintelligent heuristics-based cost estimation
  core/translate/optimizer.rs
Labels: core

Add extern functions in ext/vtab_connect.rs to support xConnect in vtab modules
  core/ext/vtab_connect.rs
Labels: core

Add from_ffi_ptr method to create OwnedValue from Ext type without taking ownership
  core/types.rs
Labels: core

Add new ResultCode and StepResult types to extension api
  extensions/core/src/types.rs
Labels: none

Impl default for ext value to enable std::mem::take
  extensions/core/src/types.rs
Labels: none

Add Connection to ExtApi and necessary plumbing to allow xConnect when opening vtab module
  core/ext/dynamic.rs
  core/ext/mod.rs
  core/ext/vtab_connect.rs
  core/lib.rs
  extensions/completion/src/lib.rs
  extensions/core/src/lib.rs
  extensions/core/src/vtabs.rs
  extensions/series/src/lib.rs
  extensions/tests/src/lib.rs
  macros/src/lib.rs
Labels: core

Add tablestats extension to test querying core database from vtab module
  extensions/core/src/lib.rs
  extensions/tests/src/lib.rs
Labels: none

Public export Statement from extension lib and mark Conn struct as repr C
  extensions/core/src/lib.rs
  extensions/core/src/vtabs.rs
Labels: none
