Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'

refactor
  core/translate/alter.rs
  core/translate/mod.rs
  fuzz/fuzz_targets/schema.rs
Labels: core

fix: clippy
  core/translate/alter.rs
  core/translate/mod.rs
Labels: core

fix: prevent duplicate columns
  core/translate/alter.rs
Labels: core

add more operators execution for binary
  simulator/model/table.rs
Labels: none

small fix to binary true predicate + fuzz test for true_binary_predicate. More tests to come
  simulator/generation/predicate/binary.rs
  simulator/generation/predicate/unary.rs
  simulator/model/query/predicate.rs
  simulator/model/table.rs
Labels: none

refactor: dereference impl Copy
  core/schema.rs
Labels: core

namespace `exec_min` and `exec_max` to `Value` for reuse in simulator
  core/vdbe/execute.rs
Labels: core

mostly fix binary predicate generation
  simulator/generation/predicate/binary.rs
  simulator/generation/predicate/mod.rs
  simulator/generation/predicate/unary.rs
  simulator/generation/table.rs
  simulator/model/query/predicate.rs
Labels: none

adjust creation of columns to avoid name collision
  simulator/generation/predicate/binary.rs
  simulator/generation/property.rs
  simulator/generation/table.rs
  simulator/model/table.rs
Labels: none

add cli option to disable select optimizer
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/runner/cli.rs
  simulator/runner/env.rs
Labels: none

clippy
  core/vdbe/execute.rs
Labels: core

unary tests
  simulator/generation/predicate/unary.rs
Labels: none

ephemeral table for update when rowid is being update
  core/storage/btree.rs
  core/translate/emitter.rs
  core/translate/main_loop.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core

tests
  testing/update.test
Labels: none

Add test SQLite KV extension
  Cargo.lock
  Cargo.toml
  testing/cli_tests/extensions.py
  testing/cli_tests/test_limbo_cli.py
  testing/sqlite_test_ext/Cargo.toml
  testing/sqlite_test_ext/build.rs
  testing/sqlite_test_ext/include/sqlite3.h
  testing/sqlite_test_ext/include/sqlite3ext.h
  testing/sqlite_test_ext/src/kvstore.c
  testing/sqlite_test_ext/src/lib.rs
Labels: none

Don't use search for virtual tables
  core/translate/optimizer/mod.rs
  testing/cli_tests/extensions.py
Labels: core

Treat table-valued functions as tables
  core/ext/mod.rs
  core/pragma.rs
  core/schema.rs
  core/translate/main_loop.rs
  core/translate/planner.rs
  core/util.rs
  core/vtab.rs
  extensions/completion/src/lib.rs
  extensions/series/src/lib.rs
  testing/cli_tests/extensions.py
  testing/pragma.test
Labels: core

Extract table parsing into separate method
  core/translate/planner.rs
Labels: core

Propagate info about hidden columns
  core/schema.rs
  core/translate/group_by.rs
  core/translate/insert.rs
  core/translate/optimizer/join.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/pragma.rs
  core/translate/schema.rs
  core/translate/select.rs
  core/util.rs
  extensions/tests/src/lib.rs
  testing/cli_tests/extensions.py
  testing/sqlite_test_ext/src/kvstore.c
Labels: core

Add compatibility test for generate_series
  testing/cli_tests/extensions.py
Labels: none

Fix referencing virtual table predicates
  core/translate/main_loop.rs
  testing/cli_tests/extensions.py
Labels: core

Implement best_index for table-valued functions
  core/pragma.rs
  core/vtab.rs
  extensions/completion/src/lib.rs
  extensions/series/src/lib.rs
Labels: core

Support multiple tables in kv_store extension
  extensions/tests/src/lib.rs
Labels: none

ephemeral table for update when rowid is being update
  core/storage/btree.rs
  core/translate/emitter.rs
  core/translate/main_loop.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core

tests
  testing/update.test
Labels: none

modify loop functions to accomodate for ephemeral tables
  core/translate/emitter.rs
  core/translate/main_loop.rs
  core/translate/optimizer/mod.rs
  core/translate/plan.rs
  core/translate/update.rs
  core/types.rs
Labels: core

tests + adjustment to halt error message
  core/translate/emitter.rs
  core/translate/main_loop.rs
  testing/update.test
Labels: core

change refcell values to cell
  simulator/runner/file.rs
  simulator/runner/io.rs
Labels: none

generate_latency for each io operation on the file
  simulator/runner/file.rs
  simulator/runner/io.rs
Labels: none

add cli option to adjust latency probability
  simulator/runner/cli.rs
  simulator/runner/env.rs
  simulator/runner/file.rs
  simulator/runner/io.rs
Labels: none

Add todo comment
  core/storage/pager.rs
Labels: core

dont panic on cache clear error
  core/lib.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
Labels: core

Dont allocate fresh page1 if it's in the WAL
  core/lib.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
Labels: core

core: Get rid of maybe_init_database_file
  bindings/javascript/src/lib.rs
  bindings/wasm/lib.rs
  core/lib.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/vdbe/execute.rs
Labels: bindings/wasm, core

Delete unused stuff
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
Labels: core

Fix: use either db_size>0 or wal max frame>0 to decide when to read schema
  core/lib.rs
  core/vdbe/execute.rs
Labels: core

Implement size for JS and WASM storages
  bindings/javascript/src/lib.rs
  bindings/wasm/lib.rs
Labels: bindings/wasm

fix autovacuum test
  core/storage/pager.rs
Labels: core

Read page 1 from pager always, no separate db_header
  core/lib.rs
  core/storage/btree.rs
  core/storage/buffer_pool.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core

core: Set default database_size to 0
  core/storage/sqlite3_ondisk.rs
Labels: core
