Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'

Support UPDATE for virtual tables
  core/translate/update.rs
Labels: core

Add py tests for vtab update behavior
  testing/cli_tests/extensions.py
Labels: none

Add comments to document update on vtabs
  core/translate/update.rs
Labels: core

fix aggregation functions without group by
  core/translate/emitter.rs
  core/translate/main_loop.rs
  core/translate/result_row.rs
  core/translate/subquery.rs
Labels: core

cargo fmt
  core/translate/main_loop.rs
Labels: core

create if only if non aggregate columns present
  core/translate/emitter.rs
  core/translate/main_loop.rs
Labels: core

small refine
  core/translate/main_loop.rs
Labels: core

jsonb_merge, json_group_array, json_group_object
  core/benches/json_benchmark.rs
  core/function.rs
  core/json/json_operations.rs
  core/json/jsonb.rs
  core/json/mod.rs
  core/translate/aggregation.rs
  core/translate/expr.rs
  core/translate/group_by.rs
  core/vdbe/mod.rs
Labels: core

big cleanup
  Cargo.lock
  NOTICE.md
  core/Cargo.toml
  core/function.rs
  core/json/de.rs
  core/json/error.rs
  core/json/json.pest
  core/json/jsonb.rs
  core/json/mod.rs
  core/json/ser.rs
  core/lib.rs
  core/translate/expr.rs
  core/vdbe/mod.rs
Labels: core

update compat for json functions
  COMPAT.md
Labels: none

make tests pass
  core/json/jsonb.rs
  testing/json.test
Labels: core

add jsonb_group_object and array
  core/function.rs
  core/json/mod.rs
  core/translate/aggregation.rs
  core/translate/group_by.rs
  core/vdbe/mod.rs
Labels: core

add compat tests
  core/json/mod.rs
  testing/agg-functions.test
Labels: core

fix tests
  core/json/jsonb.rs
  core/json/mod.rs
Labels: core

add jsonb_set
  core/function.rs
  core/json/mod.rs
  core/translate/expr.rs
  core/vdbe/mod.rs
Labels: core

append writer
  core/types.rs
Labels: core

wip
  bindings/go/rs_src/types.rs
  bindings/java/rs_src/limbo_statement.rs
  bindings/javascript/src/lib.rs
  bindings/python/src/lib.rs
  bindings/rust/src/lib.rs
  bindings/wasm/lib.rs
  cli/app.rs
  core/lib.rs
  core/pseudo.rs
  core/storage/btree.rs
  core/types.rs
  core/vdbe/mod.rs
  core/vdbe/sorter.rs
  simulator/generation/plan.rs
  sqlite3/src/lib.rs
  testing/testing.db
  tests/integration/functions/test_function_rowid.rs
  tests/integration/fuzz/mod.rs
  tests/integration/query_processing/test_read_path.rs
  tests/integration/query_processing/test_write_path.rs
  tests/integration/wal/test_wal.rs
Labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

make column reuse blob/text fields
  bindings/go/rs_src/types.rs
  bindings/java/rs_src/limbo_statement.rs
  bindings/python/src/lib.rs
  cli/app.rs
  core/json/json_operations.rs
  core/json/mod.rs
  core/storage/btree.rs
  core/types.rs
  core/vdbe/explain.rs
  core/vdbe/mod.rs
Labels: bindings/java, bindings/go, bindings/python, core

return row as reference to registers
  bindings/go/rs_src/rows.rs
  bindings/go/rs_src/types.rs
  bindings/java/rs_src/limbo_statement.rs
  bindings/javascript/src/lib.rs
  bindings/python/src/lib.rs
  bindings/rust/src/lib.rs
  bindings/wasm/lib.rs
  cli/app.rs
  core/lib.rs
  core/vdbe/mod.rs
  simulator/generation/plan.rs
  sqlite3/src/lib.rs
  tests/integration/fuzz/mod.rs
  tests/integration/query_processing/test_write_path.rs
  tests/integration/wal/test_wal.rs
Labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

Reusable ImmutableRecord -> allocation reduction
  cli/app.rs
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/types.rs
Labels: core

make read_record, read_varint and read_value faster
  core/storage/sqlite3_ondisk.rs
Labels: core

fix rebase
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
Labels: core

made json an optional module again
  core/Cargo.toml
  core/benches/json_benchmark.rs
  core/function.rs
  core/json/mod.rs
  core/lib.rs
  core/translate/aggregation.rs
  core/translate/expr.rs
  core/translate/group_by.rs
  core/types.rs
  core/vdbe/mod.rs
Labels: core

clippy
  core/translate/aggregation.rs
  core/translate/group_by.rs
  core/vdbe/mod.rs
Labels: core

remove dbg
  core/vdbe/mod.rs
Labels: core

fix serial_type write
  core/types.rs
Labels: core

WIP - Create Index
  COMPAT.md
  core/schema.rs
  core/storage/btree.rs
  core/translate/index.rs
  core/translate/mod.rs
  core/translate/plan.rs
  core/translate/schema.rs
  core/vdbe/builder.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core

Add find + insert index to btree
  core/storage/btree.rs
  core/translate/index.rs
  core/vdbe/mod.rs
Labels: core

Create plan for Update queries
  core/translate/emitter.rs
  core/translate/main_loop.rs
  core/translate/optimizer.rs
  core/translate/plan.rs
  core/translate/update.rs
Labels: core

Correct comment on update plan
  core/translate/plan.rs
Labels: core

Replace unwrap in update translation with parse error
  core/translate/update.rs
Labels: core

Add comments and impl Copy on iterdir type
  core/translate/plan.rs
Labels: core

Fix error message for non btree table
  core/translate/update.rs
Labels: core

Support LIMIT clause on update queries
  core/translate/emitter.rs
  core/translate/update.rs
Labels: core

Fix update queries when limit is 0
  core/translate/emitter.rs
Labels: core

Add update tcl tests for LIMIT clauses on update queries
  testing/update.test
Labels: none

Remove update limit tests from compat tcl tests
  testing/update.test
Labels: none

Add update query tests with limit
  testing/cli_tests/cli_test_cases.py
Labels: none

format
  core/storage/btree.rs
  core/translate/delete.rs
  core/translate/main_loop.rs
  core/translate/optimizer.rs
  core/translate/planner.rs
  core/translate/update.rs
Labels: core

Support backwards iteration in index btrees
  core/storage/btree.rs
Labels: core
