Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: simulator, docs, extensionlib, macros, fuzzing, perf/benchmarks, go-bindings, wasm-bindings, python-bindings, js-bindings, rust-bindings, java-bindings, parser, cli, sqlite3, core, optimizer, translation/planning, io, mvcc, vdbe, json, storage, vector, antithesis, ci-actions

.github/labeler.yml:

simulator:
  - changed-files:
      - any-glob-to-any-file: 'simulator/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**/*'

extensionlib:
  - changed-files:
      - any-glob-to-any-file: ['extensions/core/**/*', 'macros/src/ext/*', 'core/ext/*']

macros:
  - changed-files:
      - any-glob-to-any-file: ['macros/**/*']

extensions-other:
- all:
  - changed-files:
    - any-glob-to-any-file: 'extensions/**/*'
    - all-globs-to-all-files: '!extensions/core/**/*'

fuzzing:
  - changed-files:
      - any-glob-to-any-file: 'fuzz/**/*'

perf/benchmarks:
  - changed-files:
      - any-glob-to-any-file: ['perf/**/*', 'core/benches/*']

go-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/go/**/*'

wasm-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/wasm/**/*'

python-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/python/**/*'

js-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/javascript/**/*'

rust-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/rust/**/*'

java-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/java/**/*'

parser:
  - changed-files:
    - any-glob-to-any-file: "vendored/sqlite3-parser/*"

cli:
  - changed-files:
    - any-glob-to-any-file: "cli/**/*"

sqlite3:
  - changed-files:
    - any-glob-to-any-file: "sqlite3/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: 'core/**/*'

optimizer:
  - changed-files:
    - any-glob-to-any-file: 'core/translate/optimizer/*'

translation/planning:
  - changed-files:
    - any-glob-to-any-file: 'core/translate/*.rs'

io:
  - changed-files:
    - any-glob-to-any-file: 'core/io/*'

mvcc:
  - changed-files:
    - any-glob-to-any-file: 'core/mvcc/**/*'

vdbe:
  - changed-files:
    - any-glob-to-any-file: 'core/vdbe/*'

json:
  - changed-files:
    - any-glob-to-any-file: 'core/json/*'

storage:
  - changed-files:
    - any-glob-to-any-file: 'core/storage/*'

vector:
  - changed-files:
    - any-glob-to-any-file: 'core/vector/*'

antithesis:
  - changed-files:
    - any-glob-to-any-file: ['antithesis-tests/**/*', 'scripts/antithesis/*', 'stress/**/*']

ci-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/*.yml'

add error tracing to relevant functions + rollback transaction in step_end_write_txn + make move_to_root return result
  core/lib.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/mod.rs
  core/vdbe/mod.rs
  simulator/runner/cli.rs
Labels: simulator, core, translation/planning, vdbe, storage

more instrumentation + write counter should decrement if pwrite fails
  core/io/unix.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/mod.rs
  core/vdbe/mod.rs
Labels: core, translation/planning, io, vdbe, storage

make all `run_once` be run under statement or connection so that rollback is called
  bindings/go/rs_src/rows.rs
  bindings/go/rs_src/statement.rs
  bindings/java/rs_src/turso_connection.rs
  bindings/java/rs_src/turso_statement.rs
  bindings/javascript/src/lib.rs
  bindings/python/src/lib.rs
  cli/app.rs
  cli/commands/import.rs
  cli/helper.rs
  core/benches/benchmark.rs
  core/benches/json_benchmark.rs
  core/benches/tpc_h_benchmark.rs
  core/ext/vtab_xconnect.rs
  core/lib.rs
  core/storage/pager.rs
  core/util.rs
  core/vdbe/execute.rs
  fuzz/fuzz_targets/expression.rs
  simulator/generation/plan.rs
  simulator/runner/execution.rs
  sqlite3/src/lib.rs
  tests/integration/common.rs
  tests/integration/functions/test_function_rowid.rs
  tests/integration/query_processing/test_read_path.rs
  tests/integration/query_processing/test_write_path.rs
  tests/integration/wal/test_wal.rs
Labels: simulator, extensionlib, fuzzing, perf/benchmarks, go-bindings, python-bindings, js-bindings, java-bindings, cli, sqlite3, core, vdbe, storage

Initial Commit For Autovacuum Updates
  core/lib.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
Labels: core, translation/planning, vdbe, storage

Changed Order Of Operations And Dropping RefMut
  core/lib.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
Labels: core, vdbe, storage

added additional test for internal page being relocated
  core/storage/pager.rs
Labels: core, storage

minor update to comments
  core/storage/pager.rs
Labels: core, storage

added tests to both pager.rs and page_cache.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
Labels: core, storage

added TODO notes
  core/storage/pager.rs
Labels: core, storage

placated clippy
  core/storage/pager.rs
Labels: core, storage

added TODO note
  core/storage/btree.rs
Labels: core, storage

fixed compilation errors
  core/storage/pager.rs
Labels: core, storage

fix query shadowing in faulty query
  simulator/generation/plan.rs
  simulator/generation/property.rs
Labels: simulator

`do_allocate_page` should return a `Result`
  core/storage/btree.rs
  core/storage/pager.rs
Labels: core, storage

do not shadow + continue the assertion on injected fault error
  simulator/generation/property.rs
  simulator/model/mod.rs
  simulator/runner/file.rs
  simulator/runner/io.rs
Labels: simulator

modify tests for new formatter
  vendored/sqlite3-parser/src/to_sql_string/stmt/alter_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_trigger.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_virtual_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/delete.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/insert.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/mod.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/select.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/update.rs
Labels: none

add more `ToTokens` impls
  core/translate/display.rs
Labels: core, translation/planning

tidy
  core/translate/optimizer/mod.rs
  simulator/model/query/predicate.rs
  vendored/sqlite3-parser/src/dialect/mod.rs
  vendored/sqlite3-parser/src/parser/ast/fmt.rs
Labels: simulator, core, optimizer

remove `ToSqlString` trait
  core/translate/display.rs
  vendored/sqlite3-parser/src/to_sql_string/expr.rs
  vendored/sqlite3-parser/src/to_sql_string/mod.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/alter_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_trigger.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_virtual_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/delete.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/insert.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/mod.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/select.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/update.rs
Labels: core, translation/planning

fix: add fuzz to CI checks
  .github/workflows/rust.yml
  fuzz/Cargo.lock
  fuzz/fuzz_targets/cast_real.rs
  fuzz/fuzz_targets/expression.rs
  fuzz/fuzz_targets/schema.rs
Labels: fuzzing, ci-actions

clippy + fmt
  core/translate/display.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/delete.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/mod.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/select.rs
Labels: core, translation/planning

removed unsafe operations from modify_parent_page_pointers
  core/storage/pager.rs
Labels: core, storage

Updated Saving Cursor Context
  core/storage/btree.rs
Labels: core, storage

Add regression test
  testing/glob.test
Labels: none

Fix Glob ScalarFunc to handle NULL and other Value types.
  core/vdbe/execute.rs
Labels: core, vdbe

Add incremental and on-demand parsing of `ImmutableRecord`. First step at resolving the currently wasteful eager parsing.
  core/types.rs
Labels: core

Decouple `Value` parsing and Record loading. Introduced `RecordCursor`, using which we can parse the record header incrementally.
  core/types.rs
Labels: core

Add get_values methods to `ImmutableRecord`
  core/types.rs
Labels: core

Integrate incremental column parsing into `btree.rs`
  core/storage/btree.rs
Labels: core, storage

Make OP_column do on demand serialization baby!
  core/vdbe/execute.rs
Labels: core, vdbe

Fix sorter
  core/vdbe/sorter.rs
Labels: core, vdbe

Fix btree to invalidate RecordCursor Use `read_value` instead of `deserialize_column_data` Add `sqlite_int_float_compare` which takes care of out of range floats
  core/storage/btree.rs
  core/types.rs
Labels: core, storage

Add optimized index record compare methods compare_records_int compare_records_string compare_records_generic
  core/storage/sqlite3_ondisk.rs
  core/types.rs
Labels: core, storage

Stash
  core/storage/btree.rs
  core/types.rs
  core/vdbe/execute.rs
Labels: core, vdbe, storage

Working version of the incremental column and "optimal" record compare functions. Now we optimize them
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/types.rs
  core/vdbe/execute.rs
Labels: core, vdbe, storage

Add `num_columns` to `BTreeCursor` so we can initialize `Vecs` inside `RecordCursor` to their appropriate to reduce allocations.
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/vdbe_blob.rs
Labels: core, vdbe, storage

Reduce allocations in `compare_records_generic`
  core/types.rs
Labels: core

Fix empty blob test failure.
  core/vdbe/execute.rs
Labels: core, vdbe

Add docs for RecordCompare
  core/types.rs
Labels: core

Return corrupt errors.
  core/vdbe/execute.rs
Labels: core, vdbe
