Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'

update after rebase
  testing/cli_tests/cli_test_cases.py
Labels: none

Add unit test to demonstrate that https://github.com/tursodatabase/limbo/issues/1085 is fixed.
  core/storage/btree.rs
Labels: core

Add a method that can help while debugging `freelist blocks`
  core/storage/sqlite3_ondisk.rs
Labels: core

Silence overflow page tests for now
  tests/integration/query_processing/test_write_path.rs
Labels: none

Remove debug prints and make clippy happy
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
Labels: core

Experiment with a custom Lock for database header
  bindings/wasm/lib.rs
  core/fast_lock.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/vdbe/builder.rs
  core/vdbe/mod.rs
Labels: bindings/wasm, core

use `compare_exchange`
  core/fast_lock.rs
Labels: core

modify memory/mod.rs to use the different implementations
  core/io/memory/btree.rs
  core/io/memory/mmap_rustix.rs
  core/io/memory/mod.rs
Labels: core

create directory for memory io
  core/io/memory/mod.rs
Labels: core

add docs
  docs/internals.md
Labels: none

separate implementaion for unix and non unix
  core/Cargo.toml
  core/io/memory/btree.rs
  core/io/memory/mmap_rustix.rs
  core/io/memory/mod.rs
Labels: core

add tesing using TestLimboShell
  Makefile
  testing/cli_tests/memory.py
Labels: none

adjust printing of test
  testing/cli_tests/test_limbo_cli.py
Labels: none

Optimize page contents, swap out reference counting in buffer pool for unsafecell
  bindings/wasm/lib.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/windows.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/vdbe/mod.rs
  simulator/runner/file.rs
Labels: bindings/wasm, core

Fix borrow method on windowsIO
  core/io/windows.rs
Labels: core

Add page clone back to defragment page to prevent alloc cell ptrs
  core/storage/btree.rs
Labels: core

Update tests to align with main
  core/storage/btree.rs
Labels: core

Fix clippy warning and impl copy
  core/io/mod.rs
Labels: core

Update IO trait impl for vfs
  core/io/vfs.rs
Labels: core

Add vtab connect api to core/ext module
  core/ext/vtab_connect.rs
Labels: core

Add external api for vtab connect
  extensions/core/src/vtab_connect.rs
Labels: none

Add result codes needed for queries in extensions
  extensions/core/src/types.rs
Labels: none

Integrate new vtab open into existing vtab impl
  core/ext/dynamic.rs
  core/ext/mod.rs
  core/ext/vtab_connect.rs
  core/lib.rs
  extensions/completion/src/lib.rs
  extensions/core/src/lib.rs
  extensions/core/src/vtab_connect.rs
  extensions/series/src/lib.rs
  extensions/tests/src/lib.rs
  macros/src/lib.rs
Labels: core

Update proc macro to register new connection on vtab open
  macros/src/lib.rs
Labels: none

Update readme/documentation for vtab extensions
  extensions/core/README.md
  macros/src/lib.rs
Labels: none

Change trait to take optional connection to allow for testing
  extensions/completion/src/lib.rs
  extensions/core/src/lib.rs
  extensions/series/src/lib.rs
  extensions/tests/src/lib.rs
  macros/src/lib.rs
Labels: none

Remove core_only feature due to needing to free memory from ext lib itself
  core/Cargo.toml
  core/ext/mod.rs
  extensions/core/Cargo.toml
  extensions/core/src/lib.rs
  extensions/core/src/types.rs
Labels: core

Add from_ffi_ptr to create OwnedValue types from ext types without ownership
  core/ext/mod.rs
  core/ext/vtab_connect.rs
  core/lib.rs
  core/types.rs
  extensions/core/src/vtab_connect.rs
Labels: core

Write stupid demo vtab extension that can show querying a core conn
  extensions/tests/src/lib.rs
Labels: none

Add test case for stupid demo vtab extension
  testing/cli_tests/extensions.py
Labels: none

Free cursor row on core side to avoid exposing api to extensions
  core/Cargo.toml
  core/ext/vtab_connect.rs
  extensions/core/Cargo.toml
  extensions/core/src/lib.rs
  extensions/core/src/types.rs
  extensions/core/src/vtab_connect.rs
Labels: core

Create ext step result type, improve tests a bit
  core/ext/vtab_connect.rs
  extensions/core/src/lib.rs
  extensions/core/src/types.rs
  extensions/core/src/vtab_connect.rs
  extensions/tests/src/lib.rs
  testing/cli_tests/extensions.py
Labels: core

Update python test to match new test extension name
  testing/cli_tests/extensions.py
Labels: none

Lower sleep time to properly kill subprocess in py tests
  testing/cli_tests/extensions.py
  testing/cli_tests/test_limbo_cli.py
Labels: none

Move vfs to ext/dynamic mod to prevent issues with wasm
  core/ext/dynamic.rs
  core/ext/mod.rs
  core/lib.rs
  extensions/core/src/lib.rs
Labels: core

Define custom type extension api
  core/ext/extern_types.rs
  core/function.rs
  core/types.rs
  core/util.rs
  extensions/core/src/lib.rs
  extensions/uuid/src/lib.rs
  macros/src/args.rs
  macros/src/lib.rs
  testing/cli_tests/extensions.py
Labels: core

Fix naming to be consistent for foreign types
  core/ext/foreign_types.rs
  core/ext/mod.rs
  core/schema.rs
  core/util.rs
  core/vdbe/mod.rs
  extensions/core/README.md
Labels: core

Add TypeRegistry to symbol table, ffi function to register type
  core/ext/foreign_types.rs
  core/ext/mod.rs
  core/lib.rs
Labels: core

Add custom type registration to extension api
  core/ext/mod.rs
  extensions/core/src/lib.rs
Labels: core

Document api for custom foreign types
  extensions/core/README.md
Labels: none
