Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'

Changed Order Of Operations And Dropping RefMut
  core/lib.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
Labels: core

added tests to both pager.rs and page_cache.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
Labels: core

extract sim code to be in a library
  simulator/Cargo.toml
  simulator/generation/expr.rs
  simulator/generation/plan.rs
  simulator/generation/query.rs
  simulator/lib.rs
  simulator/model/query/create.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/shrink/plan.rs
Labels: none

rename Simulator Env to LimboSimulatorEnv
  simulator/generation/expr.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/watch.rs
Labels: none

had accidently enabled DROP
  simulator/generation/property.rs
Labels: none

create SimulatorEnv trait and adjust other main code to use the lib instead
  simulator/generation/expr.rs
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
  simulator/lib.rs
  simulator/main.rs
  simulator/model/mod.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/model/table.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/io.rs
  simulator/runner/watch.rs
  simulator/shrink/plan.rs
Labels: none

extract shadow function to be a trait
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/main.rs
  simulator/model/mod.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/differential.rs
  simulator/runner/execution.rs
Labels: none

rename `LimboSimulatorEnv` to `TursoSimulatorEnv`
  simulator/main.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/watch.rs
Labels: none

clippy
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
Labels: none

clippy
  simulator/generation/plan.rs
Labels: none

rename limbo_sim to turso_sim
  Cargo.lock
  docs/testing.md
  scripts/run-sim
  simulator-docker-runner/Dockerfile.simulator
  simulator-docker-runner/docker-entrypoint.simulator.ts
  simulator/Cargo.toml
  simulator/README.md
  simulator/main.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/watch.rs
  simulator/shrink/plan.rs
Labels: none

rexport antithesis sdk in assertion for correct macro compilation
  assertion/lib.rs
Labels: none

create custom assertion macros
  assertion/Cargo.toml
  assertion/lib.rs
Labels: none

init assertion package + add antithesis_sdk to workspace
  Cargo.lock
  Cargo.toml
  assertion/Cargo.toml
  assertion/lib.rs
Labels: none

bump antithesis_sdk to fix macro issue + adjust macro compilation
  Cargo.lock
  Cargo.toml
  assertion/Cargo.toml
  assertion/lib.rs
Labels: none

use new asserts for antithesis
  Cargo.lock
  Cargo.toml
  assertion/lib.rs
  core/Cargo.toml
  core/json/cache.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/alter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/lift_common_subexpressions.rs
  core/translate/optimizer/mod.rs
  core/translate/optimizer/order.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/types.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core

add antithesis feature flags to stress testing and container
  bindings/rust/Cargo.toml
  stress/Cargo.toml
Labels: bindings/rust

move assertion crate to core
  Cargo.lock
  Cargo.toml
  assertion/Cargo.toml
  core/Cargo.toml
  core/assertion.rs
  core/json/cache.rs
  core/lib.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/alter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/lift_common_subexpressions.rs
  core/translate/optimizer/mod.rs
  core/translate/optimizer/order.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/types.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core

fix merge conflicts
  Cargo.lock
  bindings/rust/Cargo.toml
  core/types.rs
Labels: bindings/rust, core

added TODO notes
  core/storage/pager.rs
Labels: core

added TODO note
  core/storage/btree.rs
Labels: core

chore: fix misaligned pointer dereference
  core/ext/vtab_xconnect.rs
Labels: core

chore: update rust to version 1.88.0
  rust-toolchain.toml
Labels: none

chore: link advapi32 on windows
  extensions/completion/build.rs
  extensions/core/build.rs
  extensions/crypto/build.rs
  extensions/csv/build.rs
  extensions/ipaddr/build.rs
  extensions/percentile/build.rs
  extensions/regexp/build.rs
Labels: none

fix clippy errors for rust 1.88.0 (manual fix)
  bindings/javascript/src/lib.rs
  bindings/python/src/lib.rs
  bindings/rust/src/params.rs
  core/io/io_uring.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/types.rs
  core/vtab.rs
  extensions/csv/src/lib.rs
  simulator/generation/plan.rs
  simulator/model/table.rs
  tests/integration/common.rs
  tests/integration/fuzz/mod.rs
  tests/integration/query_processing/test_write_path.rs
  vendored/sqlite3-parser/src/lexer/sql/mod.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
  vendored/sqlite3-parser/src/parser/parse.y
  vendored/sqlite3-parser/src/to_sql_string/expr.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/alter_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_trigger.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/delete.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/insert.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/mod.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/select.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/update.rs
Labels: bindings/python, bindings/rust, core

Support multiple tables in kv_store extension
  extensions/tests/src/lib.rs
Labels: none

Treat table-valued functions as tables
  core/ext/mod.rs
  core/pragma.rs
  core/schema.rs
  core/translate/main_loop.rs
  core/translate/planner.rs
  core/util.rs
  core/vtab.rs
  extensions/completion/src/lib.rs
  extensions/series/src/lib.rs
  testing/cli_tests/extensions.py
  testing/pragma.test
Labels: core

Propagate info about hidden columns
  core/schema.rs
  core/translate/group_by.rs
  core/translate/insert.rs
  core/translate/optimizer/join.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/pragma.rs
  core/translate/schema.rs
  core/translate/select.rs
  core/translate/update.rs
  core/util.rs
  extensions/tests/src/lib.rs
  testing/cli_tests/extensions.py
  testing/sqlite_test_ext/src/kvstore.c
Labels: core

Fix referencing virtual table predicates
  core/translate/main_loop.rs
  testing/cli_tests/extensions.py
Labels: core

Don't use search for virtual tables
  core/translate/optimizer/mod.rs
  testing/cli_tests/extensions.py
Labels: core

Extract table parsing into separate method
  core/translate/planner.rs
Labels: core

Implement best_index for table-valued functions
  core/pragma.rs
  core/vtab.rs
  extensions/completion/src/lib.rs
  extensions/series/src/lib.rs
Labels: core

Minor refactoring of btree
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
Labels: core

add ProgramBuilderFlags to the builder
  core/vdbe/builder.rs
Labels: core

small refactoring
  core/translate/emitter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/pragma.rs
Labels: core

emit turso_cdc table changes in Insert query plan
  core/translate/insert.rs
Labels: core

fix clippy
  core/translate/emitter.rs
  core/util.rs
Labels: core

pass ownership or program to the pragma translators - just as with other statements
  core/translate/pragma.rs
Labels: core

add capture_changes per-connection flag
  core/lib.rs
Labels: core

fix clippy again
  core/util.rs
Labels: core
