Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: simulator, docs, extensionlib, macros, fuzzing, perf/benchmarks, go-bindings, wasm-bindings, python-bindings, js-bindings, rust-bindings, java-bindings, parser, cli, sqlite3, core, optimizer, translation/planning, io, mvcc, vdbe, json, storage, vector, antithesis, ci-actions

.github/labeler.yml:

simulator:
  - changed-files:
      - any-glob-to-any-file: 'simulator/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**/*'

extensionlib:
  - changed-files:
      - any-glob-to-any-file: ['extensions/core/**/*', 'macros/src/ext/*', 'core/ext/*']

macros:
  - changed-files:
      - any-glob-to-any-file: ['macros/**/*']

extensions-other:
- all:
  - changed-files:
    - any-glob-to-any-file: 'extensions/**/*'
    - all-globs-to-all-files: '!extensions/core/**/*'

fuzzing:
  - changed-files:
      - any-glob-to-any-file: 'fuzz/**/*'

perf/benchmarks:
  - changed-files:
      - any-glob-to-any-file: ['perf/**/*', 'core/benches/*']

go-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/go/**/*'

wasm-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/wasm/**/*'

python-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/python/**/*'

js-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/javascript/**/*'

rust-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/rust/**/*'

java-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/java/**/*'

parser:
  - changed-files:
    - any-glob-to-any-file: "vendored/sqlite3-parser/*"

cli:
  - changed-files:
    - any-glob-to-any-file: "cli/**/*"

sqlite3:
  - changed-files:
    - any-glob-to-any-file: "sqlite3/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: 'core/**/*'

optimizer:
  - changed-files:
    - any-glob-to-any-file: 'core/translate/optimizer/*'

translation/planning:
  - changed-files:
    - any-glob-to-any-file: 'core/translate/*.rs'

io:
  - changed-files:
    - any-glob-to-any-file: 'core/io/*'

mvcc:
  - changed-files:
    - any-glob-to-any-file: 'core/mvcc/**/*'

vdbe:
  - changed-files:
    - any-glob-to-any-file: 'core/vdbe/*'

json:
  - changed-files:
    - any-glob-to-any-file: 'core/json/*'

storage:
  - changed-files:
    - any-glob-to-any-file: 'core/storage/*'

vector:
  - changed-files:
    - any-glob-to-any-file: 'core/vector/*'

antithesis:
  - changed-files:
    - any-glob-to-any-file: ['antithesis-tests/**/*', 'scripts/antithesis/*', 'stress/**/*']

ci-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/*.yml'

Fix referencing virtual table predicates
  core/translate/main_loop.rs
  testing/cli_tests/extensions.py
Labels: core, translation/planning

Don't use search for virtual tables
  core/translate/optimizer/mod.rs
  testing/cli_tests/extensions.py
Labels: core, optimizer

Extract table parsing into separate method
  core/translate/planner.rs
Labels: core, translation/planning

Implement best_index for table-valued functions
  core/pragma.rs
  core/vtab.rs
  extensions/completion/src/lib.rs
  extensions/series/src/lib.rs
Labels: core

Minor refactoring of btree
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, storage

add ProgramBuilderFlags to the builder
  core/vdbe/builder.rs
Labels: core, vdbe

small refactoring
  core/translate/emitter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/pragma.rs
Labels: core, translation/planning

emit turso_cdc table changes in Insert query plan
  core/translate/insert.rs
Labels: core, translation/planning

fix clippy
  core/translate/emitter.rs
  core/util.rs
Labels: core, translation/planning

pass ownership or program to the pragma translators - just as with other statements
  core/translate/pragma.rs
Labels: core, translation/planning

add capture_changes per-connection flag
  core/lib.rs
Labels: core

fix clippy again
  core/util.rs
Labels: core

copy comments about pragma flags from SQLite source code
  core/pragma.rs
Labels: core

handle change_capture pragma
  core/pragma.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core, translation/planning

fix test
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: none

small renames
  core/lib.rs
  core/pragma.rs
  core/translate/emitter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/vdbe/builder.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core, translation/planning, vdbe

add simple method for parsing pragma boolean value
  core/util.rs
Labels: core

emit cdc changes for UPDATE / DELETE statements
  core/translate/emitter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/subquery.rs
Labels: core, translation/planning

change script name + enable indexes in CI
  .github/workflows/rust.yml
  CONTRIBUTING.md
  Cargo.lock
  Makefile
  cli/app.rs
  cli/input.rs
  scripts/turso-sqlite3
  scripts/turso-sqlite3-index-experimental
  sqlite3/Cargo.toml
  sqlite3/cbindgen.toml
  sqlite3/include/sqlite3.h
  sqlite3/tests/compat/mod.rs
  testing/agg-functions.test
  testing/cli_tests/extensions.py
  testing/cli_tests/test_turso_cli.py
  testing/cli_tests/write.py
  testing/create_table.test
  testing/delete.test
  testing/drop_index.test
  testing/drop_table.test
  testing/groupby.test
  testing/insert.test
  testing/join.test
  testing/orderby.test
  testing/select.test
  testing/subquery.test
  testing/update.test
  testing/where.test
Labels: cli, sqlite3, ci-actions

enable io latency + limit number of tests in simulator pull request CI check
  scripts/run-sim
  simulator/runner/cli.rs
Labels: simulator

feat: add context to `ToTokens`
  vendored/sqlite3-parser/src/parser/ast/fmt.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: none

feat: implement `ToTokens` for `UpdatePlan`
  core/translate/display.rs
Labels: core, translation/planning

fmt
  core/translate/display.rs
Labels: core, translation/planning

fix: comma function
  vendored/sqlite3-parser/src/parser/ast/fmt.rs
Labels: none

clippy
  core/translate/display.rs
Labels: core, translation/planning

Support except operator for compound select
  core/translate/compound_select.rs
  core/translate/plan.rs
  core/translate/result_row.rs
  core/translate/select.rs
Labels: core, translation/planning

add tests for except operator
  testing/insert.test
  testing/select.test
  tests/integration/fuzz/mod.rs
Labels: none

fix test data
  testing/select.test
Labels: none

fix: IdxDelete shouldn't raise error if P5 == 0
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/result_row.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
Labels: core, translation/planning, vdbe

cargo fmt
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  tests/integration/fuzz/mod.rs
Labels: core, vdbe

return early if index is not found in op_idx_delete
  core/vdbe/execute.rs
Labels: core, vdbe

ignore wal frames after bad checksum
  core/storage/sqlite3_ondisk.rs
  tests/integration/query_processing/test_write_path.rs
Labels: core, storage

check frame number is not 0
  core/storage/sqlite3_ondisk.rs
Labels: core, storage

clippy
  tests/integration/query_processing/test_write_path.rs
Labels: none

rollback transaction when we fail in step
  core/storage/sqlite3_ondisk.rs
  core/vdbe/mod.rs
Labels: core, vdbe, storage

remove logging in test
  Makefile
Labels: none

turn off tracing by default so that errors are not printed in the cli env is not set
  cli/app.rs
Labels: cli

fix infinite loop with write counter
  core/storage/sqlite3_ondisk.rs
Labels: core, storage

enable faulty query
  simulator/runner/cli.rs
Labels: simulator

pass correct change schema to step rollback
  core/lib.rs
  core/vdbe/mod.rs
Labels: core, vdbe
