Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: bindings/java, bindings/go, bindings/python, bindings/rust, bindings/wasm, core

.github/labeler.yml:

bindings/java:
  - 'bindings/java/**'

bindings/go:
  - 'bindings/go/**'

bindings/python:
  - 'bindings/python/**'

bindings/rust:
  - 'bindings/rust/**'

bindings/wasm:
  - 'bindings/wasm/**'

core:
  - 'core/**'

tweaks
  stress/Dockerfile.antithesis-config
  stress/docker-compose.yaml
Labels: none

Update extension ownership cleanups for new vtab module
  core/lib.rs
  core/vdbe/mod.rs
  extensions/core/src/lib.rs
Labels: core

setup complete
  Cargo.lock
  stress/Cargo.toml
  stress/main.rs
Labels: none

antithesis scripts
  scripts/antithesis/publish-config.sh
  scripts/antithesis/publish-docker.sh
  scripts/antithesis/publish-workload.sh
Labels: none

antithesis launch
  scripts/antithesis/launch.sh
Labels: none

Add new tests for count() function
  testing/agg-functions.test
  testing/cmdlineshell.test
  testing/gen-database.py
  testing/testing.db
  testing/testing_norowidalias.db
Labels: none

cargo toml add extension static
  core/Cargo.toml
  extensions/core/README.md
Labels: core

changed to use TestLimboShell for testing and cleanup
  Makefile
  core/io/memory/mmap_rustix.rs
  core/io/memory/mod.rs
  testing/cli_tests/memory.py
  testing/memory.py
Labels: core

Define custom type extension api
  core/ext/extern_types.rs
  core/function.rs
  core/types.rs
  core/util.rs
  extensions/core/src/lib.rs
  extensions/uuid/src/lib.rs
  macros/src/args.rs
  macros/src/lib.rs
  testing/cli_tests/extensions.py
Labels: core

Fix naming to be consistent for foreign types
  core/ext/foreign_types.rs
  core/ext/mod.rs
  core/lib.rs
  core/schema.rs
  core/util.rs
  core/vdbe/mod.rs
  extensions/core/README.md
  testing/cli_tests/extensions.py
Labels: core

Document api for custom foreign types
  extensions/core/README.md
Labels: none

Add TypeRegistry to symbol table, ffi function to register type
  core/ext/mod.rs
  core/lib.rs
Labels: core

Add types parsing to register extension macro
  macros/src/lib.rs
Labels: none

Add custom type registration to extension api
  core/ext/mod.rs
  extensions/core/src/lib.rs
Labels: core

Add CustomTypeDerive proc macro for extension types
  macros/src/lib.rs
Labels: none

Add foreign type function enum variant
  core/function.rs
  core/translate/expr.rs
  core/vdbe/mod.rs
Labels: core

Introduce type registry to create table function
  core/lib.rs
  core/schema.rs
  core/util.rs
Labels: core

Foreign types support for translate insert
  core/translate/insert.rs
Labels: core

Add example custom type to uuid extension
  extensions/core/src/lib.rs
  extensions/uuid/src/lib.rs
  macros/src/lib.rs
Labels: none

Add tests for extension types and finalize extension
  extensions/core/src/lib.rs
  extensions/uuid/src/lib.rs
  macros/src/lib.rs
  testing/cli_tests/extensions.py
Labels: none

Add vtab connect api to core/ext module
  core/ext/vtab_connect.rs
Labels: core

Add external api for vtab connect
  extensions/core/src/vtab_connect.rs
Labels: none

Add result codes needed for queries in extensions
  extensions/core/src/types.rs
Labels: none

Integrate new vtab open into existing vtab impl
  core/ext/mod.rs
  core/ext/vtab_connect.rs
  core/lib.rs
  extensions/core/src/lib.rs
Labels: core

Update proc macro to register new connection on vtab open
  macros/src/lib.rs
Labels: none

Update readme/documentation for vtab extensions
  core/ext/mod.rs
  extensions/core/README.md
  extensions/kvstore/src/lib.rs
  extensions/series/src/lib.rs
  macros/src/lib.rs
Labels: core

Change trait to take optional connection to allow for testing
  extensions/core/src/lib.rs
  extensions/kvstore/src/lib.rs
  extensions/series/src/lib.rs
  macros/src/lib.rs
Labels: none

Fix passing none to vtab open in macro when ptr is null
  macros/src/lib.rs
Labels: none

Work on defragment_page in the BTree, swap out reference counting in buffer pool for unsafecell
  bindings/wasm/lib.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/windows.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/vdbe/mod.rs
  simulator/runner/file.rs
Labels: bindings/wasm, core

Fix borrow method on windowsIO
  core/io/windows.rs
Labels: core

disable count(distinct) tests
  testing/agg-functions.test
Labels: none

fix balance_non_root should trigger balance again
  core/storage/btree.rs
Labels: core

CODEOWNERS
  docs/CODEOWNERS
Labels: none

add bindings/{go,java}, simulator and extensions
  docs/CODEOWNERS
Labels: none

remove new_pages, remove extra divider_cells and cells capacity
  core/storage/btree.rs
Labels: core

comment out codeowners without write access
  docs/CODEOWNERS
Labels: none

remove krishvishal for now until write access granted
  docs/CODEOWNERS
Labels: none

Minor improvements and cleanups in btree
  core/storage/btree.rs
  core/storage/mod.rs
  core/vdbe/mod.rs
Labels: core

Introduce BalanceInfo to hold all balance procedure information
  core/storage/btree.rs
Labels: core

update after rebase
  testing/cli_tests/cli_test_cases.py
Labels: none
