Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: simulator, docs, extensionlib, macros, fuzzing, perf/benchmarks, go-bindings, wasm-bindings, python-bindings, js-bindings, rust-bindings, java-bindings, parser, cli, sqlite3, core, optimizer, translation/planning, io, mvcc, vdbe, json, storage, vector, antithesis, ci-actions

.github/labeler.yml:

simulator:
  - changed-files:
      - any-glob-to-any-file: 'simulator/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**/*'

extensionlib:
  - changed-files:
      - any-glob-to-any-file: ['extensions/core/**/*', 'macros/src/ext/*', 'core/ext/*']

macros:
  - changed-files:
      - any-glob-to-any-file: ['macros/**/*']

extensions-other:
- all:
  - changed-files:
    - any-glob-to-any-file: 'extensions/**/*'
    - all-globs-to-all-files: '!extensions/core/**/*'

fuzzing:
  - changed-files:
      - any-glob-to-any-file: 'fuzz/**/*'

perf/benchmarks:
  - changed-files:
      - any-glob-to-any-file: ['perf/**/*', 'core/benches/*']

go-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/go/**/*'

wasm-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/wasm/**/*'

python-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/python/**/*'

js-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/javascript/**/*'

rust-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/rust/**/*'

java-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/java/**/*'

parser:
  - changed-files:
    - any-glob-to-any-file: "vendored/sqlite3-parser/*"

cli:
  - changed-files:
    - any-glob-to-any-file: "cli/**/*"

sqlite3:
  - changed-files:
    - any-glob-to-any-file: "sqlite3/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: 'core/**/*'

optimizer:
  - changed-files:
    - any-glob-to-any-file: 'core/translate/optimizer/*'

translation/planning:
  - changed-files:
    - any-glob-to-any-file: 'core/translate/*.rs'

io:
  - changed-files:
    - any-glob-to-any-file: 'core/io/*'

mvcc:
  - changed-files:
    - any-glob-to-any-file: 'core/mvcc/**/*'

vdbe:
  - changed-files:
    - any-glob-to-any-file: 'core/vdbe/*'

json:
  - changed-files:
    - any-glob-to-any-file: 'core/json/*'

storage:
  - changed-files:
    - any-glob-to-any-file: 'core/storage/*'

vector:
  - changed-files:
    - any-glob-to-any-file: 'core/vector/*'

antithesis:
  - changed-files:
    - any-glob-to-any-file: ['antithesis-tests/**/*', 'scripts/antithesis/*', 'stress/**/*']

ci-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/*.yml'

chore: Clippy chill
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/types.rs
  core/vdbe/execute.rs
Labels: core, vdbe, storage

Remove redundant checks
  core/types.rs
  core/vdbe/execute.rs
Labels: core, vdbe

Replace compare_immutable with compare_records_generic
  core/storage/btree.rs
  core/types.rs
  core/vdbe/execute.rs
Labels: core, vdbe, storage

Clean up indexbtree_move_to
  core/storage/btree.rs
Labels: core, storage

Added Async Header Accessor API's
  core/storage/header_accessor.rs
  core/storage/pager.rs
Labels: core, storage

Remove mistakenly pushed file
  core/vdbe/vdbe_blob.rs
Labels: core, vdbe

cargo fmt
  core/vdbe/execute.rs
Labels: core, vdbe
