Repository tursodatabase/limbo, changes with the labels that .github/labeler.yml gives for each.
All labels: simulator, docs, extensionlib, macros, fuzzing, perf/benchmarks, go-bindings, wasm-bindings, python-bindings, js-bindings, rust-bindings, java-bindings, parser, cli, sqlite3, core, optimizer, translation/planning, io, mvcc, vdbe, json, storage, vector, antithesis, ci-actions

.github/labeler.yml:

simulator:
  - changed-files:
      - any-glob-to-any-file: 'simulator/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**/*'

extensionlib:
  - changed-files:
      - any-glob-to-any-file: ['extensions/core/**/*', 'macros/src/ext/*', 'core/ext/*']

macros:
  - changed-files:
      - any-glob-to-any-file: ['macros/**/*']

extensions-other:
- all:
  - changed-files:
    - any-glob-to-any-file: 'extensions/**/*'
    - all-globs-to-all-files: '!extensions/core/**/*'

fuzzing:
  - changed-files:
      - any-glob-to-any-file: 'fuzz/**/*'

perf/benchmarks:
  - changed-files:
      - any-glob-to-any-file: ['perf/**/*', 'core/benches/*']

go-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/go/**/*'

wasm-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/wasm/**/*'

python-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/python/**/*'

js-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/javascript/**/*'

rust-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/rust/**/*'

java-bindings:
  - changed-files:
    - any-glob-to-any-file: 'bindings/java/**/*'

parser:
  - changed-files:
    - any-glob-to-any-file: "vendored/sqlite3-parser/*"

cli:
  - changed-files:
    - any-glob-to-any-file: "cli/**/*"

sqlite3:
  - changed-files:
    - any-glob-to-any-file: "sqlite3/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: 'core/**/*'

optimizer:
  - changed-files:
    - any-glob-to-any-file: 'core/translate/optimizer/*'

translation/planning:
  - changed-files:
    - any-glob-to-any-file: 'core/translate/*.rs'

io:
  - changed-files:
    - any-glob-to-any-file: 'core/io/*'

mvcc:
  - changed-files:
    - any-glob-to-any-file: 'core/mvcc/**/*'

vdbe:
  - changed-files:
    - any-glob-to-any-file: 'core/vdbe/*'

json:
  - changed-files:
    - any-glob-to-any-file: 'core/json/*'

storage:
  - changed-files:
    - any-glob-to-any-file: 'core/storage/*'

vector:
  - changed-files:
    - any-glob-to-any-file: 'core/vector/*'

antithesis:
  - changed-files:
    - any-glob-to-any-file: ['antithesis-tests/**/*', 'scripts/antithesis/*', 'stress/**/*']

ci-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/*.yml'

leaking box memory
  Cargo.lock
  core/Cargo.toml
  core/storage/page_cache.rs
Labels: core, storage

remove unused imports
  core/storage/page_cache.rs
Labels: core, storage

fix sub with below 0 in tests
  core/storage/page_cache.rs
Labels: core, storage

fix second occurance
  core/storage/page_cache.rs
Labels: core, storage

rewrite test to make fix verifiable
  core/storage/page_cache.rs
Labels: core, storage

fix: add fuzz to CI checks
  .github/workflows/rust.yml
  fuzz/Cargo.lock
  fuzz/fuzz_targets/cast_real.rs
  fuzz/fuzz_targets/expression.rs
  fuzz/fuzz_targets/schema.rs
Labels: fuzzing, ci-actions

core: Remove dependencies to extensions
  Cargo.lock
  core/Cargo.toml
  scripts/publish-crates.sh
Labels: core

Move time extension to core
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/ext/mod.rs
  core/lib.rs
  core/time/mod.rs
  core/time/time.rs
  extensions/time/Cargo.toml
  scripts/publish-crates.sh
Labels: extensionlib, core

Move UUID extension to core
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/ext/mod.rs
  core/lib.rs
  core/uuid.rs
  extensions/core/README.md
  extensions/uuid/Cargo.toml
  fuzz/Cargo.lock
  perf/latency/limbo/Cargo.lock
  scripts/publish-crates.sh
Labels: extensionlib, fuzzing, perf/benchmarks, core

Initial Commit For Autovacuum Updates
  core/lib.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
Labels: core, translation/planning, vdbe, storage

minor update to comments
  core/storage/pager.rs
Labels: core, storage

placated clippy
  core/storage/pager.rs
Labels: core, storage

Changed Order Of Operations And Dropping RefMut
  core/lib.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
Labels: core, vdbe, storage

added tests to both pager.rs and page_cache.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
Labels: core, storage

extract sim code to be in a library
  simulator/Cargo.toml
  simulator/generation/expr.rs
  simulator/generation/plan.rs
  simulator/generation/query.rs
  simulator/lib.rs
  simulator/model/query/create.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/shrink/plan.rs
Labels: simulator

rename Simulator Env to LimboSimulatorEnv
  simulator/generation/expr.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/watch.rs
Labels: simulator

had accidently enabled DROP
  simulator/generation/property.rs
Labels: simulator

create SimulatorEnv trait and adjust other main code to use the lib instead
  simulator/generation/expr.rs
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
  simulator/lib.rs
  simulator/main.rs
  simulator/model/mod.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/model/table.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/io.rs
  simulator/runner/watch.rs
  simulator/shrink/plan.rs
Labels: simulator

extract shadow function to be a trait
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/main.rs
  simulator/model/mod.rs
  simulator/model/query/create.rs
  simulator/model/query/create_index.rs
  simulator/model/query/delete.rs
  simulator/model/query/drop.rs
  simulator/model/query/insert.rs
  simulator/model/query/mod.rs
  simulator/model/query/select.rs
  simulator/model/query/update.rs
  simulator/runner/differential.rs
  simulator/runner/execution.rs
Labels: simulator

rename `LimboSimulatorEnv` to `TursoSimulatorEnv`
  simulator/main.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/watch.rs
Labels: simulator

clippy
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
Labels: simulator

clippy
  simulator/generation/plan.rs
Labels: simulator

rename limbo_sim to turso_sim
  Cargo.lock
  docs/testing.md
  scripts/run-sim
  simulator-docker-runner/Dockerfile.simulator
  simulator-docker-runner/docker-entrypoint.simulator.ts
  simulator/Cargo.toml
  simulator/README.md
  simulator/main.rs
  simulator/runner/bugbase.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/watch.rs
  simulator/shrink/plan.rs
Labels: simulator, docs

rexport antithesis sdk in assertion for correct macro compilation
  assertion/lib.rs
Labels: none

create custom assertion macros
  assertion/Cargo.toml
  assertion/lib.rs
Labels: none

init assertion package + add antithesis_sdk to workspace
  Cargo.lock
  Cargo.toml
  assertion/Cargo.toml
  assertion/lib.rs
Labels: none

bump antithesis_sdk to fix macro issue + adjust macro compilation
  Cargo.lock
  Cargo.toml
  assertion/Cargo.toml
  assertion/lib.rs
Labels: none

use new asserts for antithesis
  Cargo.lock
  Cargo.toml
  assertion/lib.rs
  core/Cargo.toml
  core/json/cache.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/alter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/lift_common_subexpressions.rs
  core/translate/optimizer/mod.rs
  core/translate/optimizer/order.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/types.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core, optimizer, translation/planning, vdbe, json, storage

add antithesis feature flags to stress testing and container
  bindings/rust/Cargo.toml
  stress/Cargo.toml
Labels: rust-bindings, antithesis

move assertion crate to core
  Cargo.lock
  Cargo.toml
  assertion/Cargo.toml
  core/Cargo.toml
  core/assertion.rs
  core/json/cache.rs
  core/lib.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/alter.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/lift_common_subexpressions.rs
  core/translate/optimizer/mod.rs
  core/translate/optimizer/order.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/types.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core, optimizer, translation/planning, vdbe, json, storage

fix merge conflicts
  Cargo.lock
  bindings/rust/Cargo.toml
  core/types.rs
Labels: rust-bindings, core

added TODO notes
  core/storage/pager.rs
Labels: core, storage

added TODO note
  core/storage/btree.rs
Labels: core, storage

chore: fix misaligned pointer dereference
  core/ext/vtab_xconnect.rs
Labels: extensionlib, core

chore: update rust to version 1.88.0
  rust-toolchain.toml
Labels: none

chore: link advapi32 on windows
  extensions/completion/build.rs
  extensions/core/build.rs
  extensions/crypto/build.rs
  extensions/csv/build.rs
  extensions/ipaddr/build.rs
  extensions/percentile/build.rs
  extensions/regexp/build.rs
Labels: extensionlib

fix clippy errors for rust 1.88.0 (manual fix)
  bindings/javascript/src/lib.rs
  bindings/python/src/lib.rs
  bindings/rust/src/params.rs
  core/io/io_uring.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/types.rs
  core/vtab.rs
  extensions/csv/src/lib.rs
  simulator/generation/plan.rs
  simulator/model/table.rs
  tests/integration/common.rs
  tests/integration/fuzz/mod.rs
  tests/integration/query_processing/test_write_path.rs
  vendored/sqlite3-parser/src/lexer/sql/mod.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
  vendored/sqlite3-parser/src/parser/parse.y
  vendored/sqlite3-parser/src/to_sql_string/expr.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/alter_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_table.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/create_trigger.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/delete.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/insert.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/mod.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/select.rs
  vendored/sqlite3-parser/src/to_sql_string/stmt/update.rs
Labels: simulator, python-bindings, js-bindings, rust-bindings, core, io, storage

Support multiple tables in kv_store extension
  extensions/tests/src/lib.rs
Labels: none

Treat table-valued functions as tables
  core/ext/mod.rs
  core/pragma.rs
  core/schema.rs
  core/translate/main_loop.rs
  core/translate/planner.rs
  core/util.rs
  core/vtab.rs
  extensions/completion/src/lib.rs
  extensions/series/src/lib.rs
  testing/cli_tests/extensions.py
  testing/pragma.test
Labels: extensionlib, core, translation/planning

Propagate info about hidden columns
  core/schema.rs
  core/translate/group_by.rs
  core/translate/insert.rs
  core/translate/optimizer/join.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/pragma.rs
  core/translate/schema.rs
  core/translate/select.rs
  core/translate/update.rs
  core/util.rs
  extensions/tests/src/lib.rs
  testing/cli_tests/extensions.py
  testing/sqlite_test_ext/src/kvstore.c
Labels: core, optimizer, translation/planning
